@import 'variables';

ul li {
    list-style: none;
}

.card-course-item {
    margin-top: 16px;
}

.course-info {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.course-detail li {
    font-size: 13px;
    margin-bottom: 10px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.course-author {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-author {
    position: relative;
    width: 100px;
    height: 100px;
}
.img-author img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
