<div class="mt-4">
	<div class="row">
		<div class="col-lg-3">
			<div class="course-info p-3">
				<h6>Bạn đã đăng ký khoá học này!</h6>
				<button class="btn btn-success my-4">HỌC NGAY</button>
				<ul class="course-detail">
					<li>
						<ion-icon name="speedometer-outline"></ion-icon>
						{{course.level}}
					</li>
					<li>
						<ion-icon name="battery-full-outline"></ion-icon>
						Truy cập mọi lúc mọi nơi
					</li>
				</ul>
			</div>
			<div class="course-author p-3 my-5">
				<div class="img-author"><img src="/img/logo.png" alt="" class="img-fluid"></div>
				<h3 class="mt-4">Thanh Sang</h3>
				<code>Author BOG Course</code>
			</div>
		</div>

		<div class="col-lg-9">
			<h2>{{course.name}}</h2>
			<div class="iframe-container">
				<iframe
					width="560"
					height="315"
					src="https://www.youtube.com/embed/{{course.videoId}}"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				></iframe>
			</div>
			<p class="my-4 fs-3">{{course.description}}</p>
		</div>
	</div>
</div>